@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- Banner
        ================================================== -->
        <div class="parallax banner" data-background="../../content/images/7.jpg" data-color="#36383e" data-color-opacity="0.45"
             data-img-width="2500" data-img-height="1600">
            <div class="parallax-content">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Main Search Container -->
                            <!-- Main Search Container / End -->

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Content
        ================================================== -->
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3 class="headline margin-bottom-25 margin-top-65">تازه ها</h3>
                </div>

                <!-- Carousel -->
                <div class="col-md-12">
                    <div class="carousel">

                        <!-- Listing Item -->
                        <div class="carousel-item">
                            <div class="listing-item">

                                <a href="single-car.html" class="listing-img-container">

                                    <div class="listing-badges">
                                        <span class="featured">ویژه</span>
                                        <span>لوکس</span>
                                    </div>

                                    <div class="listing-img-content">
                                        <span class="listing-price">275,000 تومان </span>

                                    </div>

                                    <div class="listing-carousel">
                                        <div><img src="~/content/images/26.jpg" alt=""></div>
                                        <div><img src="~/content/images/27.jpg" alt=""></div>
                                        <div><img src="~/content/images/28.jpg" alt=""></div>
                                    </div>

                                </a>

                                <div class="listing-content">

                                    <div class="listing-title">
                                        <h4><a href="single-car.html">لکسوس</a></h4>

                                    </div>

                                    <ul class="listing-features">
                                        <li>دنده <span>اتوماتیک</span></li>
                                        <li>سانروف <span>دارد</span></li>
                                        <li>نویگیشن <span>دارد</span></li>
                                    </ul>

                                    <div class="listing-footer">

                                        <span><i class="fa fa-calendar-o"></i> 1 روز پیش</span>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- Listing Item / End -->
                        <!-- Listing Item -->
                        <div class="carousel-item">
                            <div class="listing-item">

                                <a href="single-car.html" class="listing-img-container">

                                    <div class="listing-badges">
                                        <span>لاکچری</span>
                                    </div>

                                    <div class="listing-img-content">
                                        <span class="listing-price">900 تومان </span>

                                    </div>

                                    <img src="~/content/images/29.jpg" alt="">

                                </a>

                                <div class="listing-content">

                                    <div class="listing-title">
                                        <h4><a href="single-car.html">فراری</a></h4>

                                    </div>

                                    <ul class="listing-features">
                                        <li>دنده <span>دستی</span></li>
                                        <li>سانروف <span>دارد</span></li>
                                        <li>نویگیشن <span>ندارد</span></li>
                                    </ul>

                                    <div class="listing-footer">

                                        <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- Listing Item / End -->
                        <!-- Listing Item -->
                        <div class="carousel-item">
                            <div class="listing-item">

                                <a href="single-car.html" class="listing-img-container">

                                    <div class="listing-badges">
                                        <span class="featured">ویژه</span>
                                        <span>لوکس</span>
                                    </div>

                                    <div class="listing-img-content">
                                        <span class="listing-price">1700 تومان </span>

                                    </div>

                                    <img src="~/content/images/30.jpg" alt="">

                                </a>

                                <div class="listing-content">

                                    <div class="listing-title">
                                        <h4><a href="single-car.html">مرسدس</a></h4>

                                    </div>

                                    <ul class="listing-features">
                                        <li>دنده <span>دستی</span></li>
                                        <li>سانروف <span>دارد</span></li>
                                        <li>نویگیشن <span>ندارد</span></li>
                                    </ul>

                                    <div class="listing-footer">
                                        <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                                <!-- Listing Item / End -->

                            </div>
                        </div>
                        <!-- Listing Item / End -->
                        <!-- Listing Item -->
                        <div class="carousel-item">
                            <div class="listing-item">


                                <a href="single-car.html" class="listing-img-container">

                                    <div class="listing-badges">
                                        <span>لاکچری</span>
                                    </div>

                                    <div class="listing-img-content">
                                        <span class="listing-price">420,000 تومان </span>

                                    </div>

                                    <!-- <div class="listing-carousel">
                                        <div><img src="~/content/images/listing-04.jpg" alt=""></div>
                                        <div><img src="~/content/images/listing-04b.jpg" alt=""></div>
                                    </div> -->
                                    <img src="~/content/images/31.jpeg" alt="">

                                </a>

                                <div class="listing-content">

                                    <div class="listing-title">
                                        <h4><a href="single-car.html">بی ام دبلیو</a></h4>

                                    </div>

                                    <ul class="listing-features">
                                        <li>دنده <span>اتوماتیک</span></li>
                                        <li>سانروف <span>دارد</span></li>
                                        <li>نویگیشن <span>دارد</span></li>
                                    </ul>

                                    <div class="listing-footer">
                                        <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                                <!-- Listing Item / End -->

                            </div>
                        </div>
                        <!-- Listing Item / End -->
                        <!-- Listing Item -->
                        <div class="carousel-item">
                            <div class="listing-item">


                                <a href="single-car.html" class="listing-img-container">
                                    <div class="listing-badges">
                                        <span>لوکس</span>
                                    </div>

                                    <div class="listing-img-content">
                                        <span class="listing-price">535,000 تومان </span>

                                    </div>

                                    <img src="~/content/images/32.jpeg" alt="">
                                </a>

                                <div class="listing-content">

                                    <div class="listing-title">
                                        <h4><a href="single-car.html">تویوتا</a></h4>

                                    </div>

                                    <ul class="listing-features">
                                        <li>دنده <span>اتوماتیک</span></li>
                                        <li>سانروف <span>دارد</span></li>
                                        <li>نویگیشن <span>دارد</span></li>
                                    </ul>

                                    <div class="listing-footer">
                                        <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                                <!-- Listing Item / End -->

                            </div>
                        </div>
                        <!-- Listing Item / End -->


                    </div>
                </div>
                <!-- Carousel / End -->

            </div>
        </div>


        <!-- Fullwidth Section -->
        <section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

            <!-- Box Headline -->
            <h3 class="headline-box">به دنبال چه چیزی می گردید؟</h3>

            <!-- Content -->
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <!-- Icon Box -->
                        <div class="icon-box-1">

                            <div class="icon-container">
                                <i><img src="~/content/images/38.png" alt=""></i>
                                <div class="icon-links">
                                    <a href="cars.html">فروشی</a>
                                    <!-- <a href="cars.html">اجاره ی</a> -->
                                </div>
                            </div>

                            <h3>لوکس</h3>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- Icon Box -->
                        <div class="icon-box-1">

                            <div class="icon-container">
                                <i><img src="~/content/images/39.png" alt=""></i>
                                <div class="icon-links">
                                    <a href="cars.html">فروشی</a>
                                    <!-- <a href="cars.html">اجاره ی</a> -->
                                </div>
                            </div>

                            <h3>شاسی بلند</h3>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </p>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- Icon Box -->
                        <div class="icon-box-1">

                            <div class="icon-container">
                                <i><img src="~/content/images/36.png" alt=""></i>
                                <div class="icon-links">
                                    <a href="cars.html">فروشی</a>
                                    <!-- <a href="cars.html">اجاره ی</a> -->
                                </div>
                            </div>

                            <h3>آفرود</h3>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- Icon Box -->
                        <div class="icon-box-1">

                            <div class="icon-container">
                                <i><img src="~/content/images/37.png" alt=""></i>
                                <div class="icon-links">
                                    <a href="cars.html">فروشی</a>
                                    <!-- <a href="cars.html">اجاره ی</a> -->
                                </div>
                            </div>

                            <h3>دودر</h3>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Fullwidth Section / End -->
        <!-- Container -->
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3 class="headline centered margin-bottom-35 margin-top-10">
                        محبوب ترین برند ها <span>
                            خودرو از
                            بهترین مدل ها
                        </span>
                    </h3>
                </div>

                <div class="col-md-4">

                    <!-- Image Box -->
                    <a href="cars.html" class="img-box" data-background-image="../../content/images/7.jpg">

                        <!-- Badge -->
                        <div class="listing-badges">
                            <span class="featured">ویژه</span>
                        </div>

                        <div class="img-box-content visible">
                            <h4>بی ام دبلیو </h4>
                            <span>2020</span>
                        </div>
                    </a>

                </div>

                <div class="col-md-8">

                    <!-- Image Box -->
                    <a href="cars.html" class="img-box" data-background-image="../../content/images/8.jpg">
                        <div class="img-box-content visible">
                            <h4>بنز</h4>
                            <span>2021</span>
                        </div>
                    </a>

                </div>

                <div class="col-md-8">

                    <!-- Image Box -->
                    <a href="cars.html" class="img-box" data-background-image="../../content/images/9.jpg">
                        <div class="img-box-content visible">
                            <h4>تویوتا</h4>
                            <span>2016</span>
                        </div>
                    </a>

                </div>

                <div class="col-md-4">

                    <!-- Image Box -->
                    <a href="cars.html" class="img-box" data-background-image="../../content/images/10.jpg">
                        <div class="img-box-content visible">
                            <h4>رنو</h4>
                            <span>2020</span>
                        </div>
                    </a>

                </div>

                <div class="col-md-4">

                    <!-- Image Box -->
                    <a href="cars.html" class="img-box" data-background-image="../../content/images/11.png">
                        <div class="img-box-content visible">
                            <h4>فراری</h4>
                            <span>2019</span>
                        </div>
                    </a>

                </div>

                <div class="col-md-8">

                    <!-- Image Box -->
                    <a href="cars.html" class="img-box" data-background-image="../../content/images/12.jpg">
                        <div class="img-box-content visible">
                            <h4>مازراتی</h4>
                            <span>2021</span>
                        </div>
                    </a>

                </div>

            </div>
        </div>
        <!-- Container / End -->
        <!-- Fullwidth Section -->
        <section class="fullwidth margin-top-95 margin-bottom-0">

            <!-- Box Headline -->
            <h3 class="headline-box">مقالات و نکته ها</h3>

            <div class="container">
                <div class="row">

                    <div class="col-md-4">

                        <!-- Blog Post -->
                        <div class="blog-post">

                            <!-- Img -->
                            <a href="blog-post.html" class="post-img">
                                <img src="~/content/images/38.jpg" alt="">
                            </a>

                            <!-- Content -->
                            <div class="post-content">
                                <h3><a href="blog-post.html">مقاله شماره 1</a></h3>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.
                                </p>

                                <a href="blog-post.html" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
                            </div>

                        </div>
                        <!-- Blog Post / End -->

                    </div>

                    <div class="col-md-4">

                        <!-- Blog Post -->
                        <div class="blog-post">

                            <!-- Img -->
                            <a href="blog-post.html" class="post-img">
                                <img src="~/content/images/39.jpg" alt="">
                            </a>

                            <!-- Content -->
                            <div class="post-content">
                                <h3><a href="blog-post.html">مقاله شماره 2</a></h3>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.
                                </p>

                                <a href="blog-post.html" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
                            </div>

                        </div>
                        <!-- Blog Post / End -->

                    </div>

                    <div class="col-md-4">

                        <!-- Blog Post -->
                        <div class="blog-post">

                            <!-- Img -->
                            <a href="blog-post.html" class="post-img">
                                <img src="~/content/images/40.jpg" alt="">
                            </a>

                            <!-- Content -->
                            <div class="post-content">
                                <h3><a href="blog-post.html">مقاله شماره 3</a></h3>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.
                                </p>

                                <a href="blog-post.html" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
                            </div>

                        </div>
                        <!-- Blog Post / End -->

                    </div>

                </div>
            </div>
        </section>
        <!-- Fullwidth Section / End -->
        <!-- Flip banner -->
        <a href="cars.html" class="flip-banner parallax" data-background="../../content/images/12.jpg" data-color="#d37912"
           data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
            <div class="flip-banner-content">
                <h2 class="flip-visible">ما به مردم و ماشین ها کمک می کنیم که همدیگر را پیدا کنند :)</h2>
                <h2 class="flip-hidden">مشاهده ماشین ها <i class="sl sl-icon-arrow-left"></i></h2>
            </div>
        </a>
        <!-- Flip banner / End -->